.cardContainer {
  width: 300px;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  padding: 0 28px;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: absolute;
  background-color: #f6c90e;
  transform: translate(-200px, -150px);
  z-index: 0;
}

.nikeLogo {
  height: 26px;
  width: 50px;
  position: relative;
  margin: 12px 0;
  z-index: 1;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroller {
  margin: 0 auto;
  height: 502px;
  width: 100%;
  overflow: auto;
  position: relative;
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
}
